@use "../../styles/variables" as *;

.button {
  height: 54px;
  padding: 12px 16px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font: {
    size: 18px;
    weight: 600;
    fmaily: $inter;
  }
}

.primary__button {
  background-color: $stone950;
  color: $white;
}

.secondary__button {
  background-color: $stone400;
  color: $stone950;
}

.warning__button {
  background-color: $orange500;
  color: $white;
}

.error__button {
  background-color: $red600;
  color: $white;
}

.secondary__warning__button {
  background-color: $orange200;
  color: $orange500;
}
